a:link,
a:visited,
a:hover,
a:active {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  background-color: #ddd;
  padding: 1em 1em 1em 1em;
  margin: 1em;
  border-radius: 0.5em;

  h3 {
    margin-top: 0;
    text-decoration: underline;
  }

  ul {
    margin-bottom: 0;
  }
}
